.game-container{
    background-color: #FDFDFD;
    padding: 5% 3% 3%;
    height: 100vh;
    overflow: hidden;
}
.game-title{
    font-family: 'Lobster', cursive;
    font-size: 5em;
    color: #484848;
}
.game-question{
    border:2px solid black;
    width:100%;
    min-height: 100px;
    height:100%;
    margin: 3% auto auto;
}
.round-indicator{
    font-size: 2em;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}
.question-loading{
    font-size: 3em;
    font-weight: 100;
    color: rgba(255,255,255,0.8);
    font-family: 'Roboto', sans-serif;
}
.game-question p{
    font-size: 2em;
}
.album-hint{
    width:200px;
    height:200px;
}
.game-input{
    border:none;
    background: transparent;
    color:white;
    outline: none;
    font-size: 2em;
}
.game-score-container{
    font-size: 3em;
}
.pane{
    min-height: 50vh;
}


.results-container{
    width:100vw;
    height:100vh;
    overflow:hidden;
    background-color: #00b3ee;
}
.game-results{
    margin: 20% auto auto;
    width:50%;
    min-height:200px;
    color: white;
    text-align: center;
    font-size: 3em;
    border: 2px solid white;
}
.game-results p{
    line-height: 2em;
}
.game-results button{
    background-color: transparent;
    border: none;
    outline:none;
}
.button-inner-container{
    font-size: medium;
}