<div class="game-container" ng-show="isPlaying">
    <div class="row" style="background-color: #0b97c4">
        <div class="col-md-2">

        </div>
        <div class="game-title col-md-6 col-md-offset-2">
            <p>Guess The Artist</p>
        </div>
    </div>
    <div class="row" style="background-color: #4cae4c">
        <div class="col-md-5" style="background-color: #2aabd2">
            <div class="round-indicator">
                <p>Round {{round}}:</p>
            </div>
            <div class="game-questions" ng-if="albums.length>0">
                <div class="game-question" ng-repeat="album in albums track by $index">
                    <p ng-bind="album.collectionName"></p>
                </div>
            </div>
            <div ng-if="!(albums.length>0)">
                loading..
            </div>
        </div>
        <div class="col-md-7" style="background-color: #8a4182">
            <div class="game-submission-container">
                <div class="row">
                    <p>For 5 points</p>
                    <p>Who's the artist?(enter full name):</p>
                </div>
                <div class="row">
                    <div class="input-box">
                        <input type="text" class="game-input" ng-model="inputField" ng-keydown="$event.which === 13 && guess()"/>
                        <button class="form-submit" ng-click="guess()">Submit</button>
                    </div>
                </div>
                <div ng-if="attempt === 2">
                    hint:
                    <img ng-src="{{albums[2].artworkUrl100}}" alt="" class="album-hint">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="game-score-container col-md-offset-3">
            <p>Your Total Score: {{score}}</p>
        </div>
    </div>
</div>

<div class="results-container" ng-if="!isPlaying">
    <div class="game-results">
        <p ng-if="score === 0">Oh.. unpleasing... scored {{score}}. Try again.</p>
        <p  ng-if="score > 0 && score <=10">Nicely done! you've scored {{score}}</p>
        <p ng-if="score > 10 && score <=20">Wow! pretty good! you've scored {{score}}!</p>
        <p ng-if="score > 20">CRAZY! you've scored {{score}}!!!</p>
        <div>
            <button ng-click="redirect('/')">
                <div class="button-inner-container">
                    <i class="fa fa-home fa-2x"></i>
                    <p>Home</p>
                </div>
            </button>
            <button ng-click="initGame()">
                <div class="button-inner-container">
                    <i class="fa fa-repeat fa-2x"></i>
                    <p>again</p>
                </div>
            </button>
        </div>
    </div>
</div>