<div class="game-container">
    <div class="row" style="background-color: #0b97c4">
        <div class="col-md-2">

        </div>
        <div class="game-title col-md-6 col-md-offset-2">
            <p>Guess The Artist</p>
        </div>
    </div>
    <div class="row" style="background-color: #4cae4c">
        <div class="col-md-5" style="background-color: #2aabd2">
            <div class="round-indicator">
                <p>Round {{round}}:</p>
            </div>
            <div class="game-questions">
                <div class="game-question" ng-repeat="album in albums track by $index">
                    <p ng-bind="album.collectionName"></p>
                </div>
            </div>
        </div>
        <div class="col-md-7" style="background-color: #8a4182">
            <div class="game-submission-container">
                <div class="row">
                    <p>For 5 points</p>
                    <p>Who's the artist?(enter full name):</p>
                </div>
                <div class="row">
                    <div class="input-box">
                        <input type="text" class="game-input" ng-model="inputField" ng-keydown="$event.which === 13 && guess()"/>
                        <button class="form-submit" ng-click="guess()">Submit</button>
                    </div>
                </div>
                <div ng-if="attempt == 2">
                    hint:
                    <img ng-src="{{albums[2].artworkUrl100}}" alt="" class="album-hint">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="game-score-container col-md-offset-3">
            <p>Your Total Score: {{score}}</p>
        </div>
    </div>
</div>