<div class="intro-container">
    <div class="bizzabo-logo">
        <img src="images/BizzaLogo.png" alt="">
    </div>
    <video-bg video-id="video.id" mute="video.mute" ratio="video.ratio" ></video-bg>

    <div class="intro-frame">
        <div class="intro-title-container">
            <p>
                Guess The Artist!
            </p>
        </div>
        <div class="intro-button-container">
            <button ng-click="startGame()">
                <div class="intro-inner-button-container">
                    <i class="fa fa-play-circle fa-4x" aria-hidden="true"></i>
                    <p>Play Now!</p>
                </div>
            </button>
        </div>
        <div ng-if="highScore" class="user-highscore">
            <p>Highest score: {{highScore}}</p>
        </div>
    </div>
</div>