<div class="intro-container">
    <video-bg video-id="video.id" mute="video.mute"></video-bg>

    <div class="intro-frame">
        <div class="intro-title-container">
            <p>
                Guess The Artist!
            </p>
        </div>
        <div class="intro-button-container">
            <button ng-click="startGame()">Start Game</button>
        </div>
        <div ng-if="highScore" class="user-highscore">
           <p>Highest score: {{highScore}}</p>
        </div>
    </div>
</div>